/* Navbar.css */
.navbar-brand,
.nav-link,
.dropdown-item,
.nav-link.disabled {
  color: var(--text-color) !important; /* Use a custom property */
}

.navbar {
  background-color: var(--background-color); /* Use a custom property */
}

/* Navbar.css */
.navbar-title-input {
  font-size: 1.25rem;
  border: none;
  outline: none;
  width: auto;
  background-color: transparent;
  color: var(--text-color);
}
